<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Styles/contact.css">
    <title>Contact</title>
</head>
<body>
    <div class="nav">
        <div class="nav-links">
          <a href="/" >HOME</a>
          <a href="/services">Our Services</a >
          <a href="/contact"
            >Contact</a >
          </div>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates, a qui? Autem doloremque facilis, porro saepe aliquid quam possimus aspernatur id architecto fugit et non nostrum sint! Nemo, tenetur repellendus.</p>
</body>
</html>

</body>
</html>