<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="home.css">
  <title>Home</title>
</head>

<body>
  <div class="nav">
    <nav>
      <a href="/">HOME</a>
      <a href="/services"> Our Services </a>
      <a href="/contact"> Contact </a>
    </nav>
  </div>
</body>

<h1>Welcome to our online recruitment platform</h1>
<div class="container">
  <div class="message">
    <p>We are a high-tech company looking for young talent.
      We would be very honoured to welcome you among us. If you are interested, please contact us by filling in the form
      in the contact section.</p>
  </div>
  <div class="about-us">
    <h2>Who are we?</h2>
    <p>
      Our high-tech company is a multi-national company that exists since "1900 Warga deureum". It manages all
      electronic equipment (purchase and sales) in more than 50 countries in the world.
    </p>
  </div>
</div>

</html>