<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="services.css">
  <title>Services</title>
</head>

<body>
  <div class="nav">
    <nav>
      <a href="/">HOME</a>
      <a href="/services"> Our Services </a>
      <a href="/contact"> Contact </a>
    </nav>
  </div>

  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero, voluptatum ipsa. Sit ad tenetur autem harum
    excepturi non saepe, esse voluptatum exercitationem incidunt, fuga, sunt earum provident enim! Maxime, saepe!</p>
</body>

</html>