<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="services.css">
  <title>Services</title>
</head>

<body>
  <div class="nav">
    <nav>
      <a href="/">HOME</a>
      <a href="/services"> Our Services </a>
      <a href="/contact"> Contact </a>
    </nav>
  </div>
<div class="serv">
  <ul>
    <li><h3>Recyclage de Matériels Electroniques</h3></li>
    <li><h3>Vente de Matériels Electroniques</h3></li>
    <li><h3>Réparation de Matériels Electroniques</h3></li>
  </ul>
</div>
</body>

</html>